name: Release
on:
  workflow_dispatch:
permissions:
  contents: write
jobs:
  build:
    name: build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: maxim-lobanov/setup-xcode@v1
      - uses: apple-actions/import-codesign-certs@v2
        with:
          p12-file-base64: ${{ secrets.DEVELOPER_ID_CERT_P12 }}
          p12-password: ${{ secrets.DEVELOPER_ID_CERT_PASSWORD }}
      - run: brew install jq
      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - run: xcrun xcodebuild test -scheme OrzMC -destination "generic/platform=macOS"
      - run: ./Scripts/release.sh all
        env:
          TEAM_ID: ${{ secrets.TEAM_ID }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          APPSTORE_PRIVATE_KEY: ${{ secrets.APPSTORE_PRIVATE_KEY }}
          APPSTORE_KEY_ID: ${{ secrets.APPSTORE_KEY_ID }}
          APPSTORE_ISSUER_ID: ${{ secrets.APPSTORE_ISSUER_ID }}
